<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdn.tailwindcss.com"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap.min.bundle.js")

    @RenderSection("scripts", required: false)


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <b>MAXWELL BANK CORPORATION</b></p>
        </footer>
    </div>
</body>
</html>